@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
}

<h1>@ViewBag.SeriesTitle</h1>
<h2>Issue #@ViewBag.IssueNo</h2>

<h5>Description</h5>
<div>@Html.Raw(ViewBag.Description)</div>

<h5>Artists</h5>
<div>
    @if (ViewBag.Artists.Length > 0)
    {
        <ul>
            @foreach (var artist in ViewBag.Artists)
            {
                <li>@artist</li>
            }
        </ul>
    }
</div>

